<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        
                        <div class="card" style="height:60rem">
                            <img height="300" src="https://www.nestdigital.com/images/img_our_customers.png">
                            <div class="card-body">
                             <h3>WHO ARE OUR CUSTOMERS</h3>
                                We work with the best
                                Delivering top-notch industry specific solutions to customers ranging from small and medium to Fortune 500 enterprises.
                                
                                We primarily focus on:
                                Transportation, Healthcare, Power & Industrial, BFSI and Aerospace.
                            </div>
                        </div>

                </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        
                        <div class="card ">
                            <img height="300"src="https://www.nestdigital.com/images/img_nest_center_of_tech.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h3>NEST DIGITAL</h3>
                                Centers of Technology Excellence
                                People
                                Our ability to coordinate globally distributed software engineering resources through robust operational processes and consistent project management methods enable us to rapidly mobilize resources wherever and whenever required.
                                
                                Business Transformation
                                NeST GDCs offer competitive and strategic solutions through a mix of global, regional, local and onsite expertise to help businesses and organizations successfully compete in today’s economic environment.
                                
                                Delivery Excellence
                                We diligently follow the governance framework, standardized processes, methods and tools for process and delivery excellence.
                            </div>
                         </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        
                        <div class="card">
                            <img height="300" src="https://www.nestdigital.com/images/logo_our_story.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5>NeST Digital, a subsidiary of the NeST Group, has been transforming businesses, providing customized and innovative software solutions and services for our customers across the globe.</h5>
                            </div>
                         </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="300" src="https://www.nestdigital.com/images/value.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h3>WHAT WE BELIEVE</h3>
                                Our core values make us who we are today
                                Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.
                            </div>
                        </div>

                    </div>
        </div>
</div>        
