<style>
    .bgm{background-image:url('https://img.freepik.com/free-photo/data-technology-blue-background-with-hacker-remixed-media_53876-108534.jpg?size=626&ext=jpg&ga=GA1.2.1805897780.1669816626')
    }
</style>
<div class="bgm">
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Id</h3></label>
            <input name="id" [(ngModel)]="id" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h4>Firstname</h4></label>
            <input name="firstname" [(ngModel)]="firstname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Lastname</h3></label>
            <input name="lastname" [(ngModel)]="lastname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>HouseNo:</h3></label>
            <input name="houseno" [(ngModel)]="houseno" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>StreetName</h3></label>
            <input name="streetname" [(ngModel)]="streetname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Pincode</h3></label>
            <input name="pincode" [(ngModel)]="pincode" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>District</h3></label>
            <input name="district" [(ngModel)]="district" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>State</h3></label>
            <input name="state" [(ngModel)]="state" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Country</h3></label>
            <input name="country" [(ngModel)]="country" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>MobileNumber</h3></label>
            <input name="mobile" [(ngModel)]="mobile" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Email</h3></label>
            <input name="email" [(ngModel)]="email" type="email" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>ParentName</h3></label>
            <input name="parent" [(ngModel)]="parent" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Gender</h3></label>
            <input name="gender" [(ngModel)]="gender" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>HighestDegree</h3></label>
            <input name="degree" [(ngModel)]="degree" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>YearOfExpirience</h3></label>
            <input name="exp" [(ngModel)]="exp" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Date Of Joining</h3></label>
            <input name="join" [(ngModel)]="join" type="date" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Username</h3></label>
            <input name="user" [(ngModel)]="user" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Password</h3></label>
            <input name="password" [(ngModel)]="password" type="password" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Confirmpassword</h3></label>
            <input name="confirm" [(ngModel)]="confirm" type="password" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <button (click)="readValues()" class="btn btn-success">Register</button>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <a href="/emplogin" class="link-warning"><h3>Click to go Employee Login</h3></a>
            
       </div>
    </div>
</div>
</div>
