<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">id</label>
            <input name="id" [(ngModel)]="id" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Firstname</label>
            <input name="firstname" [(ngModel)]="firstname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Lastname</label>
            <input name="lastname" [(ngModel)]="lastname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">HouseNo:</label>
            <input name="houseno" [(ngModel)]="houseno" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Streetname</label>
            <input name="streetname" [(ngModel)]="streetname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">pincode</label>
            <input name="pincode" [(ngModel)]="pincode" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">District</label>
            <input name="district" [(ngModel)]="district" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">State</label>
            <input name="state" [(ngModel)]="state" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Country</label>
            <input name="country" [(ngModel)]="country" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">MobileNumber</label>
            <input name="mobile" [(ngModel)]="mobile" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Email</label>
            <input name="email" [(ngModel)]="email" type="email" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">ParentName</label>
            <input name="parent" [(ngModel)]="parent" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Gender</label>
            <input name="gender" [(ngModel)]="gender" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">HighestDegree</label>
            <input name="degree" [(ngModel)]="degree" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">YearOfExpirience</label>
            <input name="exp" [(ngModel)]="exp" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Date Of Joining</label>
            <input name="join" [(ngModel)]="join" type="date" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Username</label>
            <input name="user" [(ngModel)]="user" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Password</label>
            <input name="password" [(ngModel)]="password" type="password" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Confirmpassword</label>
            <input name="confirm" [(ngModel)]="confirm" type="password" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <button (click)="readValues()" class="btn btn-success">Register</button>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <a href="/emplogin">Click to go Employee Login</a>
            
       </div>
    </div>
</div>
