<style>
    .bgm{background-image:url('https://img.freepik.com/free-photo/data-technology-blue-background-with-hacker-remixed-media_53876-108534.jpg?size=626&ext=jpg&ga=GA1.2.1805897780.1669816626')
    }
</style>
<div class="bgm">
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Id</h3></label>
            <input name="id" [(ngModel)]="id" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h4>Firstname</h4></label>
            <input name="firstname" [(ngModel)]="firstname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Lastname</h3></label>
            <input name="lastname" [(ngModel)]="lastname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>HouseNo:</h3></label>
            <input name="houseno" [(ngModel)]="houseno" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>StreetName</h3></label>
            <input name="streetname" [(ngModel)]="streetname" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Pincode</h3></label>
            <input name="pincode" [(ngModel)]="pincode" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>District</h3></label>
             <select name="district" [(ngModel)]="district" id="" class="form-select">
                <option value="Kozhikod">Kozhikode</option>
                <option value="Palakad">Palakad</option>
                <option value="Thrissur">Thrissur</option>
                <option value="Kannur">Kannur</option>
                <option value="Kollam">Kollam</option>
                <option value="Thirivananthpuram">Thirivananthpuram</option>
                <option value="Malapuram">Malapuram</option>
                <option value="Kottayam">Kottayam</option>
                <option value="Pathanamthitta">Pathanamthitta</option>
                <option value="Ernakulam">Ernakulam</option>
                <option value="Alapuzha">Alapuzha</option>
                <option value="Idukki">Idukki</option>
                <option value="Wayanadu">Wayanadu</option>
                <option value="Kasargod">Kasargod</option>
             </select>
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>State</h3></label>
            <select name="state" [(ngModel)]="state" id="" class="form-select">
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Prades">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chattisgarh">Chattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="JharKhand">JharKhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharastra">Maharastra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisa">Odisa</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telengana">Telengana</option>
                <option value="Tripura">Tripura</option>
                <option value="UttaraKhand">UttaraKhand</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="West Bengal">West Bengal</option>
            </select>
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Country</h3></label>
            <select name="country" [(ngModel)]="country" id="" class="form-select">
                <option value="India">India</option>
                <option value="China">China</option>
            </select>
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>MobileNumber</h3></label>
            <input name="mobile" [(ngModel)]="mobile" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Email</h3></label>
            <input name="email" [(ngModel)]="email" type="email" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>ParentName</h3></label>
            <input name="parent" [(ngModel)]="parent" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Gender</h3></label>
            <input name="gender" [(ngModel)]="gender" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>HighestDegree</h3></label>
            <input name="degree" [(ngModel)]="degree" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>YearOfExpirience</h3></label>
            <input name="exp" [(ngModel)]="exp" type="number" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Date Of Joining</h3></label>
            <input name="join" [(ngModel)]="join" type="date" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Username</h3></label>
            <input name="user" [(ngModel)]="user" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Password</h3></label>
            <input name="password" [(ngModel)]="password" type="password" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"><h3>Confirmpassword</h3></label>
            <input name="confirm" [(ngModel)]="confirm" type="password" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <button (click)="readValues()" class="btn btn-success">Register</button>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <a href="/emplogin" class="link-warning"><h3>Click to go Employee Login</h3></a>
            
       </div>
    </div>
</div>
</div>
